@tailwind base;
@tailwind components;
@tailwind utilities;

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  transform: scale(1.5);
}

.ball {
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

.fa-moon {
  color: pink;
  font-size: 9px;
}

.fa-sun {
  color: yellow;
  font-size: 9px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar */
body::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Hide the scrollbar in Firefox */
body {
  scrollbar-width: none;
}

/* Hide the scrollbar in Internet Explorer 10+ */
body {
  -ms-overflow-style: none;
}
